.container{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em;
}
.container > div{
    width: 50%;
    background-color: white ;
    border-radius: 1rem;
    padding: 2em 1.5em;
}