.simple{
    margin-top: 2em;
}
.simple >  h1{
    font-size: 3em;
}
.simple >  p{
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: 100;

}
.simple >div{
    padding: 2em 1em;
    background-color:hsl(330, 100%, 98%);
    border-radius: 10px;
    margin-top: 2em;
}
.simple >div >h4{
    font-size: 1.5em;
    color:  hsl(332, 51%, 32%);
}
.simple >div >ul{
    padding: 1em;
}
.simple > div > ul > li {
    margin-top: 1em;
    padding: 0  1em ;
}
.simple > div > ul > li::marker {
    color:  hsl(332, 51%, 32%);

}
.simple > div > ul > li >strong{
    color: hsl(24, 5%, 18%);
}
