.heading{
    font-weight: 550;
    color: hsl(24, 5%, 18%);
    margin-bottom: 0.5em;

}
.para1{
    color: hsl(30, 10%, 34%);
    margin-bottom: 1.5em;
    font-size: 12px;
}
.prepare{
    padding: 1.5em 2em;
    background-color: hsl(330, 100%, 98%);  
}
h4{
    color: hsl(332, 51%, 32%);
    margin-bottom: 0.5em;
}
.para2{
    color: hsl(30, 10%, 34%);
    padding-left: 1.5em;
    font-size: 14px;
}
ul>li{
    margin-bottom: 0.5em;
}
.para2>ul>li::marker{
    color: hsl(332, 51%, 32%);
}